.error{
    position: fixed;
    width: 85%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(159,58,56, 0.5);
    font-size: 20px;
    color: #fff;
    padding: 5px 0;
    border-radius: 5px;
    border: 2px solid #5f1715;

    &_btn{
        border: none;
        background: none;
        color: #fff;
        float: right;
        font-size: 20px;
        cursor: pointer; 
    }
}

@media all and (min-width: 1030px){
    .error{
        width: 80%;
    }
}

@media all and (min-width: 1240px){
    .error{
        position: absolute;
        width: 95%;
    }
}