header{
    background-color: #191A1A;
    padding: 15px;
    -webkit-box-shadow: -1px 4px 8px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 8px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 8px -2px rgba(0,0,0,0.75);

    h1{
        margin: 0;
        color: #fff;
        font-size: 26px;

        .red{
            color: rgb(159,58,56);
        }
    }
}